<!--<p>stagiaire-detail works!</p>-->
<!-- stagiaire-detail.component.html vient se loger dans une balise située dans stagiaire-table.component.html -->

<ng-container *ngIf="stagiaire">
    <p></p>
        <table>
            <tbody>
                <tr>
                    <span appBubble [config]="bubbleConfig">
                        {{stagiaire | initials: {initialsOrder: true, full: true} }}
                    </span>
                </tr>
                <tr>
                    <td>Lastname : {{stagiaire.getLastName()}}</td>
                </tr>
                <tr>
                    <td>Firstname : {{stagiaire.getFirstName()}}</td>
                </tr>
                <tr>
                    <td>Birthdate : {{stagiaire.getBirthDate().toLocaleDateString()}}</td>
                </tr>
                <tr>
                    <td>Email : {{stagiaire.getEmail()}}</td>
                </tr>
                <tr>
                    <td>Phonenumber : {{stagiaire.getPhoneNumber()}}</td>
                </tr>
            </tbody>
        </table>
</ng-container>
<p></p>
<button type="button" (click)="onClose()">Close</button>
