<!--<p>poe-form works!</p>-->

<ng-container *ngIf="poeForm">
    <form [formGroup]="poeForm" (ngSubmit)="onSubmit()">

        <div>
            <mat-form-field>
                <input matInput placeholder="Intitulé de la POE" id="title" type="text" formControlName="title">
                <mat-error *ngIf="c['title'].errors && c['title'].touched">
                    L'intitulé est obligatoire
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <!-- <mat-label>Catégorie de POE</mat-label>
                <mat-select>
                    // <mat-option *ngFor="let poeType of poeTypes" [value]="poeType.valueOf">
                    <mat-option *ngFor="let poeType of poeTypes">
                        {{poeType}}
                    </mat-option>
                </mat-select> -->
                <input matInput placeholder="Select (POEC/ POEI)" id="poeType" type="text"
                    formControlName="poeType">
                <mat-error *ngIf="c['poeType'].errors && c['poeType'].touched">
                    <span *ngIf="c['poeType'].hasError('required')">
                        Le choix est obligatoire
                    </span>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Date de début</mat-label>
                <input matInput [matDatepicker]="dpbegin" id="beginDate" formControlName="beginDate">
                <mat-hint>JJ-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dpbegin"></mat-datepicker-toggle>
                <mat-datepicker #dpbegin></mat-datepicker>
                <mat-error *ngIf="c['beginDate'].errors && c['beginDate'].touched">
                    La date de début est obligatoire
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date de fin</mat-label>
                <input matInput [matDatepicker]="dpend" id="endDate" formControlName="endDate">
                <mat-hint>JJ-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dpend"></mat-datepicker-toggle>
                <mat-datepicker #dpend></mat-datepicker>
                <mat-error *ngIf="c['endDate'].errors && c['endDate'].touched">
                    <span *ngIf="c['endDate'].hasError('required')">
                        La date de fin est obligatoire
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-error id="errorMsg" *ngIf="c['beginDate'].touched && c['endDate'].touched 
                && c['beginDate'].value !== null && c['endDate'].value !== null && c['beginDate'].value > c['endDate'].value">
                {{"La date de fin doit être postérieure à la date de début"}}
            </mat-error>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Code Aelion" id="idAelion" type="text" formControlName="idAelion">
            </mat-form-field>
        </div>

        <p></p>
        <div>
            <button id="formBtn" mat-raised-button color="primary" [disabled]="!poeForm.valid">
                {{addMode ? 'Ajouter' : 'Modifier'}}
            </button>
            <button mat-raised-button color="danger" type="button" (click)="goList()">Liste</button>
        </div>
    </form>
    <p></p>
</ng-container>