<!--<p>poe-filter works!</p>-->

<div>
    <p>
        Aujourd'hui, 
        {{todayDate.toLocaleString('fr-fr', {weekday: 'long', day: 'numeric', month:'long', year:'numeric'})}},
        c'est la fête des ... et des ... , ce qui nous amène à notre Monsieur Madame quotidien :<br>
        Parmi les événements arrivés à cette date, ...
    </p>
    <button type="button" [ngClass]="{'active': getPoeButtonState('btnEnCours')}" (click)="changePoeButtonState('btnEnCours')">
        En cours
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnUnMois')}" (click)="changePoeButtonState('btnUnMois')">
        Un mois
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnSixMois')}" (click)="changePoeButtonState('btnSixMois')">
        Six mois
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnUnAn')}" (click)="changePoeButtonState('btnUnAn')">
        Un an
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnToutes')}" (click)="changePoeButtonState('btnToutes')">
        Toutes
    </button>
</div>
