<!--<p>poe-filter works!</p>-->

<div>
    <p>
        Aujourd'hui, 
        <strong>{{todayDate.toLocaleString('fr-fr', {weekday: 'long', day: 'numeric', month:'long', year:'numeric'})}}</strong>
        {{getFetes()}}{{getMrMme()}}<br>
        {{getCestarrive()}}
    </p>
    <button type="button" [ngClass]="{'active': getPoeButtonState('btnEnCours')}" (click)="changePoeButtonState('btnEnCours')">
        En cours
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnUnMois')}" (click)="changePoeButtonState('btnUnMois')">
        Un mois
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnSixMois')}" (click)="changePoeButtonState('btnSixMois')">
        Six mois
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnUnAn')}" (click)="changePoeButtonState('btnUnAn')">
        Un an
    </button>

    <button type="button" [ngClass]="{'active': getPoeButtonState('btnToutes')}" (click)="changePoeButtonState('btnToutes')">
        Toutes
    </button>
</div>
