$head-and-foot-color: rgb(25,25,200);
$head-and-foot-text-color: rgb(255,255,255);

table {
    margin: auto;
    border-collapse: collapse;
    width: 75%;
}
thead, tfoot {
    background-color: $head-and-foot-color;
    color: $head-and-foot-text-color;
}
thead, tbody {    
    text-align: center;
}
tr {
    height: 2em;
    // Une valeur exprimée en 'em' est dynamique et fait référence à l'élément parent de l'élément courant.
    // Ainsi 2em = 2 x la taille de l'élément parent, ou si elle n'est pas définie, la taille par défaut du navigateur.
}
#td-number {
    text-align: center;
}
#a-add {
    margin-left: 12.5%;
}
