<!--<p>poe-welcome works!</p>-->

<!-- (onPoeFilter) est une information provenant sous la forme @Output() du poe-filter.component.ts, et transmise
     à la fonction selectPeriod() du poe-welcome.component.ts -->
<app-poe-filter (onPoeFilter)="selectPeriod($event)"></app-poe-filter>
<p></p>
<table>
    <thead>
        <tr>
            <th>Titre de la POE</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let poe of poes">
            <tr *ngIf="selectPoe(poe)">
                <td>
                    {{poe.getTitle()}}
                </td>
                <td>
                    {{poe.getBeginDate().toLocaleDateString()}}
                </td>
                <td>
                    {{poe.getEndDate().toLocaleDateString()}}
                </td>
                <td>
                    <button type="button" (click)="onRemove(poe)">x</button>
                    <button type="button" (click)="onUpdate(poe)">u</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr>
            <td colspan=3>Nombre d'items</td>
            <td id="td-number">
                {{poeNumber}}
            </td>
        </tr>
    </tfoot>
</table>

<a id="a-add" [routerLink]="['/', 'poe', 'add']">Ajouter</a>
<!-- Le routerLink permet de ne pas recharger mais de passer par un routage interne -->