<!--<p>stagiaire-table works!</p>-->
<!-- stagiaire-table.component.html vient se loger dans une balise située dans app.component.html -->

<app-stagiaire-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-stagiaire-filter>
<!-- La balise <app-stagiaire-filter> va chercher son contenu dans le fichier stagiaire-filter.component.html -->

<p></p>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Birthdate</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let stagiaire of stagiaires">
            <tr *ngIf="changeView(stagiaire)">
                <td>
                    <span appBubble class="special" [config]="bubbleConfig" (click)="onClick(stagiaire)">
                        <!-- Si initialsOrder = false => les initiales seront à l'envers : -->
                        {{stagiaire | initials: {initialsOrder: true, full: true} }}
                    </span>
                    <!-- La solution du dessus ({initialsOrder: true}) est juste un raccourci, à la volée.
                    Celle du dessous fait la même chose mais il faut définir pipeVariant dans stagiaire-table.component.ts -->
                    <!--{{stagiaire | initials: pipeVariant }} {{stagiaire.getId()}}-->
                </td>
                <td>
                    {{stagiaire.getLastName() | uppercase}}
                </td>
                <td>
                    {{stagiaire.getFirstName()}}
                </td>
                <td>
                    {{stagiaire.getBirthDate() | date: 'dd-MM-YYYY'}}
                </td>
                <td>
                    <button type="button" (click)="onRemove(stagiaire)">x</button>
                    <button type="button" (click)="onUpdate(stagiaire)">u</button>
                </td>
            </tr>
        </ng-container>
    </tbody>

    <tfoot>
        <tr>
            <td colspan=4>Nombre d'items</td>
            <td id="td-number">
                {{onFilter()}}
            </td>
        </tr>
    </tfoot>
</table>

<a id="a-add" [routerLink]="['/', 'stagiaire', 'add']">Ajouter</a>
<!-- Le routerLink permet de ne pas recharger mais de passer par un routage interne -->

<!--<app-stagiaire-detail [stagiaire]="selectedStagiaire!" [hidden]="isDetailHidden$ | async"></app-stagiaire-detail>-->
