<!-- app.component.html vient se loger dans la balise <app-root> de index.html -->

<!-- Si le titre en h1 est cliqué, il appelle la fonction toggleTitle() de app.component.ts -->
<h1 (click)="toggleTitle()">
  {{title}}
</h1>

<!-- Ici on a une première liste de stagiaires, immédiatement sous le titre -->
<!--<ul>
  <li *ngFor="let stagiaire of stagiaires">
    {{ stagiaire }}
  </li>
  <li *ngFor="let stagiaire of stagiaires">
    {{ stagiaire.getLastName() }}
  </li>
</ul> -->

<!-- Routeur : on efface tout le reste et on ajoute seulement la ligne ci-dessous :
  au début stagiaire-table-component envoie ici du fait de la wild card -->
<router-outlet></router-outlet>

<!-- <app-stagiaire-form></app-stagiaire-form> -->

<!-- Ici on a un second tableau, qui va provenir de stagiaire-table.component.html -->
<!-- <app-stagiaire-table></app-stagiaire-table> -->

<!-- Exercice du mot de passe :
<input type="text" placeholder="Your password...">
&nbsp;
<input [type]="'password'" placeholder="Wesh..."> => Directive d'attribut [type] pour le modifier dynamiquement
<input [type]="inputType" placeholder="Wesh...">
&nbsp;
<button type="button" (click)="showPassword()" [disabled]="this.inputType === 'Text'"> Voir en clair </button>
[disabled] est un attribut Html, qui va être piloté par Angular grâce aux crochets []
<p></p>
<p>Le langage <abbr [title]="titreHtml">HTML</abbr> est interprété par Angular.</p> -->