<!--<p>stagiaire-form works!</p>-->

<ng-container *ngIf="stagiaireForm">
    <form [formGroup]="stagiaireForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <input matInput placeholder="Nom du stagiaire..." id="lastName" type="text" formControlName="lastName">
                <mat-error *ngIf="c['lastName'].errors && c['lastName'].touched">
                    Le nom du stagiaire est obligatoire
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Prénom du stagiaire..." id="firstName" type="text"
                    formControlName="firstName">
                <mat-error *ngIf="c['firstName'].errors && c['firstName'].touched">
                    Le prénom du stagiaire est obligatoire
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Email du stagiaire..." id="email" type="email" formControlName="email">
                <mat-error *ngIf="c['email'].errors && c['email'].touched">
                    <span *ngIf="c['email'].hasError('required')">
                        L'adresse mail est obligatoire
                    </span>
                    <span *ngIf="c['email'].hasError('email')">
                        L'adresse saisie n'est pas valide...
                    </span>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Numéro de téléphone..." id="phoneNumber" type="text"
                    formControlName="phoneNumber">
                <mat-error *ngIf="c['phoneNumber'].errors && c['phoneNumber'].touched">
                    <span *ngIf="c['phoneNumber'].hasError('required')">
                        Le numéro de téléphone est obligatoire
                    </span>
                    <span *ngIf="c['phoneNumber'].hasError('pattern')">
                        Le numéro saisi n'est pas conforme...
                    </span>
                </mat-error>
            </mat-form-field>
        </div>

        <p></p>
        <div>
            <!-- Exercice du Datepicker -->
            <mat-form-field appearance="fill">
                <mat-label>Date de naissance</mat-label>
                <input matInput [matDatepicker]="dp" formControlName="birthDate">
                <mat-hint>JJ-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="c['birthDate'].errors && c['birthDate'].touched">
                    La date de naissance est obligatoire
                </mat-error>
            </mat-form-field>
        </div>

        <p></p>
        <div>
            <button mat-raised-button color="primary" [disabled]="!stagiaireForm.valid">
                {{addMode ? 'Ajouter' : 'Modifier'}}
            </button>
            <button mat-raised-button color="danger" type="button" (click)="goList()">Liste</button>
        </div>
    </form>
    <p></p>
</ng-container>