.stagiaireCard {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 50em;
}

.infosPoe {
    margin: 2em;
    text-align: center;
    background-color: rgba(245, 235, 235, 0.5);
}

.listeStagiaires {
    margin: 4em auto;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(245, 235, 235, 0.5);
}