$filter-color: rgb(165, 120, 235);
$select-color: rgb(95, 55, 230);
$text-color: rgb(255,255,255);

div {
    margin: auto;
    width: 75%;
}

button {
    width: 33.33%;
    border-radius: 10px;
    background-color: $filter-color;
    &.active {      // On définit une classe active qui sera accessible par button
        font-weight: bold;
        background-color: $select-color;
        color: $text-color;
    }
}
