div {
    margin: auto;
    width: 75%;
}

button {
    width: 33.33%;
    border-radius: 10px;
    background-color: rgb(170, 125, 190);
    &.active {      // On définit une classe active qui sera accessible par button
        font-weight: bold;
        background-color: rgb(95, 55, 230);
    }
}