div {
    //margin-left: 3%;
}

#signin-box {
	width: 500px;
	padding: 20px;
	margin: 50px auto;
	background: #fff;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}